@model House
<h2>@Model.Address</h2>
<h3>@Model.City, @Model.State</h3>
<h4>$@Model.Price</h4>
<p>@Model.Description</p>

<form method="post">
    <input value="@Model.Address" type="hidden" name="Address" />
    <input value="@Model.City" type="hidden" name="City" />
    <input value="@Model.State" type="hidden" name="State" />
    <input value="@Model.Price" type="hidden" name="Price" />
    <input value="@Model.Description" type="hidden" name="Description" />
    <p>Would you like to buy this house now?</p>
    <input class="btn btn-primary" value="Buy now!" type="submit" />
</form>


