@model IEnumerable<House>

<h2>Houses for sale:</h2>
@foreach(House h in Model)
            {
                <div style="border: 1px solid black">
                    <p>Address: @h.Address</p>
                    <p>City: @h.City</p>
                    <p>State: @h.State</p>
                    <p>Price: $@h.Price</p>
                    <p>Description: @h.Description</p>
                    <button asp-action="Buy" asp-controller="Storefront" asp-route-Id="@h.Id">See Details</button>

                </div>
            }