@model House

<div>
    <p>Id: @Model.Id</p>
    <p>Address: @Model.Address</p>
    <p>City: @Model.City</p>
    <p>State: @Model.State</p>
    <p>Price: $@Model.Price</p>
    <p>Description: @Model.Description</p>
</div>