@model House

<form method="post">
    <p>Address</p>
    <input value="@Model.Address" type="text" name="Address" />

    <p>City</p>
    <input value="@Model.City" type="text" name="City" />

    <p>State</p>
    <input value="@Model.State" type="text" name="State" />

    <p>Price</p>
    <input value="@Model.Price" type="number" name="Price" />

    <p>Quantity</p>
    <input value="@Model.Quantity" type="number" name="Quantity" />

    <p>Description</p>
    <input value="@Model.Description" type="text" name="Description" />

    <input type="submit" />

</form>